.topic-img-container {
  padding: 15px;
}
.topic-img {
  height: 230px;
  background-size: cover;
}

.topic-container .card-body h6 {
  color: #006bed;
}
.topic-container {
  transition: all 0.2s ease-in-out;
}
.topic-container .card {
  background-color: #f5f5f5;
}

.topic-container:hover {
  transform: translateY(-10px);
}
