.login-container {
  background-image: url("../../../public/bg-banner.svg");
  height: 100vh;
}

.login_box {
  background: #fffefd;
  border-radius: 5px;
  padding: 50px;
}

.btn-google {
  background-color: #ea4335;
}
.btn-facebook {
  background-color: #3b5998;
}
